.nju{
    font-size: 50px;
    color: white;
    margin-top: 40%;
    margin-left: 3%;
}
.head{
    font-size: 30px;
    color: grey;
    margin-top: 5%;
    margin-left: 49%;
}
.tok{
    font-size: 28px;
    color: yellow;
    margin-top: 5%;
    margin-left: 25%;
}
.nu{
    text-align: center;
}
.logo{
    size:30px;
}