.nju{
    font-size: 25px;
    margin-top: 20%;
    margin-left: 35%;
}
.njh{
    font-size: 25px;
    margin-top: 3%;
    margin-left: 35%;
}
.head{
    font-size: 30px;
    color: grey;
    margin-top: 1%;
    margin-left: 30%;
}
.tok{
    font-size: 28px;
    color: yellow;
    margin-top: 5%;
    margin-left: 25%;
}
.nu{
    text-align: center;
}
.logo{
    size:30px;
}